* {
    margin: 0;
    padding: 0;
}

#lens {
    background-color: #00c5ff42;
}

div .title{
    font-family: 'Baloo Da 2';
    font-size: 24px;
    padding: 20px 0px 15px 40px;
    background: #117ba2;
    color: white;
    text-shadow: 2px black;
    text-shadow: -2px 2px 2px rgba(5, 41, 58, 0.88);
}


div .condition{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.condition-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 17%;
    text-align: center;
    width: 100%;
}

.condition-option-title {
    font-size: 16px;
    cursor: pointer;
    background: #257ba2;
    border: 1px solid #10415482;
    color: white;
    width: 80%;
    margin: 10px;
    padding: 5px 0 5px 0;
    border-radius: 3px;
    box-shadow: rgba(3, 39, 56, 0.65) 0px 5px 10px 0px;
    transition: 0.3s;
}

.condition-option-title:hover{
    box-shadow: rgba(3, 39, 56, 0.7) 0px 5px 10px 1px;
    transform: scale(1.05);
}


.condition-option-title:active {
    box-shadow: inset 0px 0px 10px 0px rgba(3, 39, 56, 0.77);
}


.condition-option-options {
    font-size: 14px;
    position: absolute;
    margin-top: 30px;
    text-align: center;
    z-index: 1;
    background-color: #025479;
    margin-top: 55px;
    box-shadow: 0 0 20px 2px #00000069;
    color: white;
}

.condition-option-options-select {
    padding: 10px 10px 10px 10px;
}

.condition-option-options-select:hover {
    background-color: #387ea9;
}

.fat {
    text-align: left;
    width: 200px;
}

.hidden {
    display: none;
}

.selected {
    display: block;
}

.original-table {
    opacity: 65%;
    transition: 0.3s;
}

#results {
    margin: 40px 0 0 15px;
    padding-bottom: 15px;
}

#results td {
    padding-right: 30px;
}

#results td:last-child {
    text-align: right;
}

/* testing classes

div[class*="condition"] {
    border: 1px solid
}

.condition {
    border-color: black !important
}

.condition-option {
    border-color: red !important
}

.condition-option-title {
    border-color: blue !important
}

.condition-option-options{
    border-color: greenyellow !important
}

.condition-option-options-select{
    border: none !important
} */
