
div .title{
    font-family: 'Baloo Da 2';
    font-size: 24px;
}

div .conditions{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conditions-option {
    font-size: 16px;
}

.conditinos-option-options {
    font-size: 14px;
}

.hidden {
    display: none;
}

.selected {
    display: block;
}