* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 150px;
    width: 200px;
    background-color: #9b2121;
    background-image: linear-gradient(141deg, #ca4a4a 0%, #9b2121 51%, #851f1f 75%)
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-family: 'Baloo Da 2';
    font-size: 1.5rem;
    text-align: center;
    line-height: 4rem;
    color: white;
    position: relative;
    top: 1rem;
}

i {
    font-size: 2rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    margin: 20px auto auto auto;
    display: inline-block;
    width: 100px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFD1A9;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 1px 2px 4px 0px #3e3c3c;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px #524747;
}

input:checked + .slider {
    background-color: #580000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #580000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
    box-shadow: 1px 1px 2px 1px #524747
}
